[submodule "libs/minimp3"]
	path = libs/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "libs/libopusfile"]
	path = libs/libopusfile
	url = https://github.com/xiph/opusfile
[submodule "libs/libogg"]
	path = libs/libogg
	url = https://github.com/xiph/ogg
[submodule "libs/libopus"]
	path = libs/libopus
	url = https://github.com/xiph/opus
[submodule "libs/libmodplug"]
	path = libs/libmodplug
	url = https://github.com/Konstanty/libmodplug
[submodule "libs/libvorbis"]
	path = libs/libvorbis
	url = https://gitlab.xiph.org/xiph/vorbis
[submodule "libs/flac"]
	path = libs/flac
	url = https://github.com/xiph/flac
